<!DOCTYPE html>
<html>
<head>
    <title>API Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>API Books</h1>
    <form method="GET">
      <p>Books: <input id="apiBooks" type="text" name="apiBooks" /></p>
      <input type="submit" value="Search" />
</body>
</html>