<!DOCTYPE html>
<html>
  <head>
    <title>Bargain @ <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bargain @ <%=shopData.shopName%></h1>
    <h2>Here are the list of books at a bargain:</h2>
    <ul>
      <% availableBooks.forEach(function(book) { %>
      <li><%= book.name %>, $<%= book.price %></li>
      <% }); %>
    </ul>
  </body>
</html>
