<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Weather</h1>
    <form method="GET" action="weather/searched">
      <p>City: <input id="weatherCity" type="text" name="weatherCity" /></p>
      <input type="submit" value="Search" />
</body>
</html>